

<div class="bg-black py-5">
<div class="container mx-auto p-1">
  <div class="row">
    <div class="col-sm-8">
      <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 text-white text-shadow-1">
          <img src="/assets/imagen/Pagina%20web%20(1)-09.png" alt="disenador">
          <h4 class="display-6 lh-1 fw-bold" [innerText]="titleDisen"></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row gap-2 pb-3">
        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 text-white text-shadow-1">
            <img src="/assets/imagen/Pagina%20web%20(1)-10.png" height="325" alt="programador" >
            <h4 class="display-6 lh-1 fw-bold text-sm-end" [innerText]="titleProg"></h4>
          </div>
        </div>
      </div>
      <div class="row gap-2">
        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 text-white text-shadow-1">
            <img src="/assets/imagen/Pagina%20web%20(1)-11.png" height="325" alt="fotografo" >
            <h4 class="display-6 lh-1 fw-bold text-sm-end" [innerText]="titleFoto"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12 pb-5">
  <div class="container mx-auto p-5">

    <div class="row featurette">
      <div class="col-md-6">
        <h1 class="featurette-heading fw-normal lh-1 ">Acerca de <span class="featurette-heading fw-normal text-warning">Nosotros.</span></h1>
      </div>
      <div class="col-md-6  text-sm-end ">
        <span>Nuestra gran trayectoria nos ha permitido colocarnos en los puestos más altos en Servicios Multimedia y Audiovisuales.</span>
      </div>
    </div>
  </div>



  <div class="container p-3 align-items-center text-center">
    <div class="row ">
      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">
        <h2>PROMOAUTO</h2>
        <p>Agradezco a MAXIMEDIA por su trabajo realizado, su calidad y eficiencia es muy bueno. Nos sentimos satisfechos de sus servicios.</p>

          <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">

      </div>
      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">
        <h2>BLUE - MEDIC</h2>
        <p>La calidad de las fotografías fue de acuerdo a lo solicitado, buenos planos y muy creativos. Nos sentimos satisfechos de sus servicios.</p>

        <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">

      </div>
      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">
        <h2>PESCATECH</h2>
        <p>Excelente trabajo, rápidos y muy creativos.su calidad y eficiencia es muy bueno. Nos sentimos satisfechos de sus servicios.</p>

        <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">

      </div>
    </div>
  </div>


</div>
