<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="/assets/imagen/Paginacamarografo.png" width="100%" height="100%"  alt="cameraman">
      <div class="container ">
        <div class="carousel-caption text-start">
          <h1 class="fs-1 fw-bold">PROFESIONALES.</h1>
          <p>con grandes ideas</p>
          <p><button type="button" class="btn btn-outline-warning">Ver Más</button></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/imagen/lente.jpg" width="100%" height="100%"  alt="cameraman">
      <div class="container">
        <div class="carousel-caption">
          <h1>A la vanguardia de la tecnología</h1>
          <p>Contamos con los mejores equipos tecnológicos.</p>
          <p><a class="btn btn-outline-warning">Ver galería</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/imagen/switcher1.jpg" width="100%" height="100%" alt="cameraman">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Con un excelente equipo humano.</h1>
          <p>Siempre dispuestos a colaborar.</p>
          <p><a class="btn btn-outline-warning">Ver galería</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container px-4" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 ">
    <div class="feature col align-items-center text-center">
      <div class="col m-1 p-4 border shadow-lg">
        <div class="feature-icon d-inline-flex mx-auto fs-2">
          <img src="/assets/imagen/icono1.png" width="50" height="50" alt="cameraman">
        </div>
        <div class="text-bg-warning mx-auto w-50 p-1"></div>
        <h3 class="fs-2 pt-4">Encaminados al Éxito</h3>
        <p>
          Contamos con profesionales en diversas áreas de del campo audiovisual que se divierten y aman lo que hacen.
        </p>
      </div>
    </div>
    <div class="feature col align-items-center text-center">
      <div class="col m-1 p-4 border shadow-lg">
        <div class="feature-icon d-inline-flex mx-auto fs-2">
          <img src="/assets/imagen/icono2.png" width="50" height="50">
        </div>
        <div class="text-bg-warning w-50 mx-auto p-1"></div>
        <h3 class="fs-2 pt-4">Excelencia Multimedia</h3>
        <p>
          Nuestro único objetivo es crear el mejor contenido multimedia para tu negocio y hacer que alcance los más altos estándares.
        </p>
      </div>
    </div>
    <div class="feature col align-items-center text-center">
      <div class="col m-1 p-4 border shadow-lg">
        <div class="feature-icon d-inline-flex mx-auto fs-2">
          <img src="/assets/imagen/icono3.png" width="50" height="50" alt="cameraman" >
        </div>
        <div class="text-bg-warning w-50 mx-auto p-1"></div>
        <h3 class="fs-2 pt-4">Soluciones Innovadoras</h3>
        <p class="pb-4">
          Creamos las mejores estrategias audiovisuales para dar soluciones a la problemática social.
        </p>
      </div>
    </div>
  </div>
</div>
